/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
   
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */

/***************** Base Styles *************************************/

html {
  font-size: 16px;
}

body {
  /* font-family: 'Bitter', serif; */
  /* font-family: 'Bree Serif', serif; */
  font-family: 'Lato', sans-serif; 
  font-size: 1em;
  text-align: left;
  /* color: #1a1a1a; */
  /* color: #336699; */
  color: #002266;
}

ul {
  list-style-type: none;
}

a {
  color: #1a1a1a;
  text-decoration: none;
  padding: 1px;
}

h1, h2, h3 {
  font-family: 'Bitter', serif;
}

figure {
  overflow:hidden;
}

img {
  max-width: 100%;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  flex-flow: row wrap;
  overflow:hidden;
}


.info-link {
  color: #002266;
}

.events-area p {
  color: #8B6508;
  margin-top: 10px;
}

.events-area h2 {
  margin-bottom: 0; 
}

.mission-statement p {
  color: #8B6508;
  margin: 10px 0 10px 0;
}

.cup-joe {
  padding-bottom: 25px;
}


/************* Base Header and Footer Styles **************************/

header, footer {
  display: flex;
  justify-content:center;
  align-items:center;
  flex-flow: row wrap;
  text-align: center;
 
}

header {
  padding: 20px 0 20px 0;
}

header h1  {
  font-size: 1.2em;
  text-align:center;
  padding: 0 10px 20px 10px;
  margin: 0 10px 10px 10px;

}


header nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow:row wrap;
  align-items:center;
  font-size: .875em;
}

header nav ul {
  display:flex;
  justify-content:space-between;
  width:100%;
  padding-left:0;
}

header nav ul li a {
  color: #8B6508;
  justify-content: space-around;
  padding: 10px;
}


header #menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow:row wrap;
  align-items:center;
  font-size: 1.125em;
  background-color:#002266;

}


/* header #menu ul {
  display:flex;
  justify-content: space-around;
  width:100%;
  padding:0;
}

header #menu ul li a {
  color: #8B6508;
} */

footer {
  text-align: center;
}

footer ul {
  padding:0;
}

footer h3 {
  margin: 0 auto;
  padding: 40px 0 0 0;
}

footer #contact {
  background-color:#002266;
}

#contact h3 {
  color: whitesmoke;
  padding: 15px 5px 0px 5px;
}

#contact p {
  padding-bottom: 40px;
  color:whitesmoke;
}

#contact a {
  color: whitesmoke;
}

#copyright {
  font-size: .75em;
  margin:0 auto;
  padding:0;

}

#follow li {
  padding-top: 10px;
}

#follow a {
  padding-top: 0;
  color:#002266;
}

.members {
  background-color: lightgray;
}


.members, h2, ul, p, a {
  color:#002266;
}




/****************** Mobile 1st Styles Home page *********************************/


.mission-statement{
  display: flex;
  width: 100%;
  justify-content:center;
  align-items:center;
  flex-flow: row wrap;
  text-align: center;
}

.mission-statement h2{
  margin-bottom: 0;
}


.events-area {
  display: flex;
  width: 100%;
  justify-content:center;
  align-items:center;
  flex-flow: row wrap;
  text-align: center;
}

/********** Mobile 1st Styles About Page ****************/

.cup-joe {
  display: flex;
  width: 100%;
  justify-content:center;

}

.members {
  display: flex;
  width: 100%;
  justify-content:center;
  align-items:center;
  flex-flow: row wrap;
  text-align: center;
}

/******************* End Mobile 1st Styles *************************************/




  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

     
/********************* Tablet Styles **********************************/



/******************* Desktop Styles ************************/

  @media only screen and (min-width: 768px) {
    
 /* @media only screen and (min-width: 1200px) { */
 
  body{
    margin:0 auto;
  }

  
  #header-title{
    font-size: 1.875em;
  }

  p {
    font-size: 1.4em;
  }
  
  .content-wrapper {
    max-width: 90%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin: 0 auto;
    padding: 0px;
    flex-flow: row wrap;
  }
  
  #hero-home img {
    width:100%;
  }


   #follow ul {
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin: 0 auto;
    padding: 10px 10px 60px 10px;
   }

   #follow a {
     padding: 10px;
   }

   #contact {
    display: flex;
    width: 100%;
    flex-direction: column;
   }

   #contact P{
     padding-bottom: 0;
     font-size: 1em;
   }

   #copyright {
     margin:20px auto;
     padding:40px 40px 0 40px;
     font-size:.5em;
   }

  }







      
 
   
   /****************** End Desktop Styles *************************/



  
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }

